<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57610327501-ti15giho6g8gd7osetsfvjplidi2doig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57610327501-ti15giho6g8gd7osetsfvjplidi2doig</string>
	<key>API_KEY</key>
	<string>AIzaSyBFhbD0PmmSsk96tVdF9JPGPPTkMcyeh1A</string>
	<key>GCM_SENDER_ID</key>
	<string>57610327501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Atito.testLocation</string>
	<key>PROJECT_ID</key>
	<string>testlocation-efc3f</string>
	<key>STORAGE_BUCKET</key>
	<string>testlocation-efc3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57610327501:ios:015ded4b0d9cb188</string>
	<key>DATABASE_URL</key>
	<string>https://testlocation-efc3f.firebaseio.com</string>
</dict>
</plist>